<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jankiest Rides</title>
    <style>
        h1 {
            text-align: center;
        }
        h2 {
            margin: 3% 0 3% 4%;
        }
        div {
            margin: 5% 0 5% 5%;
        }
        a:link {
            text-decoration: none;
            color:black;
        }
        a:visited {
            color:black;
        }
        #eachCar {
            margin: 10%;
        }
    </style>
</head>
<body>
    <h1>Jankiest Rides</h1>
    <h2>Listings</h2>
    <a class="newBtn" href="/car/new"><button>New Listing</button></a>
    <div>
        <% for (let car of cars) { %>
            <a id="eachCar" href="/car/<%= car._id %>">
                <figure>
                    <img height="250" width="auto" src="<%= car.img %>">
                    <h3>
                        <%= car.make %>
                    </h3>
                    <h3>
                        <%= car.model %>
                    </h3>
                    <h3>
                        <%= car.year %>
                    </h3>
                    <h4>
                        <%= car.mi %>
                    </h4>
                    <h4>
                        <%= car.color %>
                    </h4>
                    <h4>
                        <%= car.price %>
                    </h4>
                    <h4>
                        <%= car.description %>
                    </h4>
                </figure>
            </a> 
        <% } %>
    </div>

    <h2>Reviews</h2>
    <a class="newBtn" href="/review/new"><button>New Review</button></a>
    <div>
        <% for (let review of reviews) { %>
            <a href="/review/<%= review._id %>">
                <figure>
                    <h3>
                        <%= review.name %>
                    </h3>
                    <h4>
                        <%= review.rating %>
                    </h4>
                    <h5>
                        <%= review.userReview %>
                    </h5>
                </figure>
            </a> 
        <% } %>
    </div>
</body>
</html>