<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Listing</title>
    <style>
        h1 {
            text-align: center;
        }
        body {
            margin-left: 5%;
            background-image: linear-gradient(rgb(92, 139, 247), rgb(153, 219, 153));
            background-size: cover;
            background-repeat: no-repeat;
        }
        label {
            margin: 4% 0 0 0 ;
        }
        input {
            margin: 0 0 4% 0;
        }
        #listingsbtn {
            margin: 2% 0 4% 2%;
        }
        #deletebtn {
            margin: 2% 0 5% 2%;
        }
    </style>
</head>
<body>
    <h1>Jankiest Rides</h1>
    <h2>View Listing</h2>
    <a href="/"><button id="listingsbtn">Listings</button></a>
    <div>
        <img height="250" width="auto" src="<%= car.img %>">
        <h3>
            <%= car.make %>
        </h3>
        <h3>
            <%= car.model %>
        </h3>
        <h3>
            <%= car.year %>
        </h3>
        <h4>
            <%= car.mi %>
        </h4>
        <h4>
            <%= car.color %>
        </h4>
        <h4>
            <%= car.price %>
        </h4>
        <h4>
            <%= car.description %>
        </h4>
    </div>
    <a href="/car/<%= car._id %>/edit"><button id="editbtn">Edit</button></a>
    <form action="/car/<%= car._id %>?_method=DELETE" method="POST">
        <button id="deletebtn" type="submit">Delete</button>
    </form>
</body>
</html>